/** Add css rules here for your application. */

.x-panel-header {
	background-image:none;
	background-color:#dfe8f6;
	border-color:#99BBE8;
	color:#15428B;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:11px;
	font-weight:bold;
	padding:5px;	
}
